@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">

        <p><a href="https://www.francoisgrosjean.ch/myths_en.html">Half of the world population is bilingual</a>, but only <a href="https://news.gallup.com/poll/1825/about-one-four-americans-can-hold-conversation-second-language.aspx">25%</a> of Americans can hold a conversation in another language. </p>

        <p>Changing that is one of the goals of language advocacy efforts, such as the <a href="https://www.leadwithlanguages.org/">Lead with Languages</a> campaign. As the author of a book on what I refer to as <a href="https://books.google.com/books?hl=en&amp;lr=&amp;id=ALvmDAAAQBAJ&amp;oi=fnd&amp;pg=PR5&amp;dq=kathleen+stein+smith&amp;ots=JMm-7CTLzv&amp;sig=8HueHqOYVXazLs8jF1DYcmmjhJs#v=onepage&amp;q=kathleen%20stein%20smith&amp;f=false">America’s language deficit</a>, here are what I see as seven of the best reasons for America’s young to speak a language besides English.</p>

        <h2>1. Makes you smarter</h2>

        <p><a href="https://www.actfl.org/advocacy/what-the-research-shows">Research has shown</a> that knowledge of more than one language is associated with better <a href="https://www.weforum.org/agenda/2018/02/speak-another-language-more-rational/">reasoning</a>, problem-solving skills and creativity. It also helps people deal with <a href="https://www.youtube.com/watch?v=IfexuSBeWbI">unknown and unfamiliar</a> situations. Use of another language tends to <a href="https://www.ncbi.nlm.nih.gov/pubmed/17125807">delay the onset of dementia</a></p>

        <h2>2. Boosts academic achievement</h2>

        <p>Language learning <a href="https://www.actfl.org/advocacy/what-the-research-shows#academic_achievement">supports academic achievement</a>. This is true for English-speaking students studying a foreign language, as well as English language learners in bilingual and immersion programs. It also <a href="http://www.jstor.org/stable/43935694">boosts academic outcomes at the college level</a>.</p>

        <p>Being bilingual has also been <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4070309/">shown to especially benefit low-income children</a> in terms of “their ability to direct and focus their attention when distractions were present.” Another study found that kids whose families spoke a second language at home <a href="https://www.ncbi.nlm.nih.gov/pubmed/29318589%20https://srcd.onlinelibrary.wiley.com/doi/full/10.1111/cdev.13032">scored better</a> on cognitive tests than those whose family only spoke one language.</p>

        <h2>3. Provides professional and career advantages</h2>

        <p>
            Foreign language skills are associated with increased <a href="https://research.newamericaneconomy.org/report/not-lost-in-translation-the-growing-importance-of-foreign-language-skills-in-the-u-s-job-market/">job opportunities</a>.<br>
            Research has shown that demand for bilingual workers in the United States has <a href="https://research.newamericaneconomy.org/report/not-lost-in-translation-the-growing-importance-of-foreign-language-skills-in-the-u-s-job-market/">doubled</a> from 2010 to 2015. About <a href="https://www.trade.gov/mas/ian/oceahome/tg_ian_003063.asp">11 million U.S. jobs</a> are related to exports, and <a href="https://www.census.gov/foreign-trade/statistics/highlights/top/index.html#2018">most of the top trading partners of the U.S.</a> use languages other than English. While not all positions in export necessarily requires a second language, it is important to remember that <a href="https://www.pewresearch.org/fact-tank/2017/12/14/number-of-u-s-workers-employed-by-foreign-owned-companies-is-on-the-rise/">6.8 million</a> American workers are employed by international companies operating in the United States.
            <a href="https://www.leadwithlanguages.org/language-advocacy/publications/">Nine out of 10</a> U.S. employers rely on employees with language skills other than English, and [one in four] U.S. employers <a href="https://www.leadwithlanguages.org/language-advocacy/publications/">lost business</a> due to a lack of language skills.
        </p>

        <h2>4. Provides broader access to education and information</h2>

        <p>If you speak another language, you could earn a degree in another country, which could end up being a less expensive way to get a college education. If nothing else, it at least enables you to better enjoy studying abroad and to learn more than you would if you only spoke English. </p>

        <p>The same is true when it comes to the news media. Those who only speak English cannot directly access news and perspectives in parts of the world where other languages are predominant.</p>

        <h2>5. Gives you more social and global skills</h2>

        <p>As <a href="https://www.census.gov/library/publications/2013/acs/acs-22.html">more than 60 million </a> people in the U.S. speak a language other than English at home, those who only speak English miss out on being able to directly communicate in the mother tongue of many friends and neighbors. Language learners also tend to develop a <a href="https://www.actfl.org/advocacy/what-the-research-shows/what-the-research-shows-about-students%E2%80%99-attitudes-and-language-learning">more positive attitude</a> toward both the language and the culture of the country where it is spoken.</p>

        <figure>
            <div class="fluidvids" style="padding-top: 59.0909%;"><iframe width="440" height="260" src="https://www.youtube.com/embed/IfexuSBeWbI?wmode=transparent&amp;start=0" frameborder="0" allowfullscreen="" class="fluidvids-item" data-fluidvids="loaded"></iframe></div>
            <figcaption><span class="caption">How learning a new language makes you more tolerant.</span></figcaption>
        </figure>

        <p>In the case where a language may be part of our own cultural heritage and identity, building on the knowledge of that language makes it possible for us to reconnect with the experience of past generations of family.</p>

        <p>Speaking another language also opens up opportunities to do business and work in other parts of the world. Overall, <a href="https://www.britishcouncil.org/organisation/policy-insight-research/research/the-english-effect">75% of the world population</a> does not speak English. Those who only speak English may also be limited and less inclined to collaborate with others around the world to address global issues.</p>

        <h2>6. Increases national security</h2>

        <p>On the <a href="https://www.cfr.org/event/link-between-foreign-languages-and-us-national-security">national security</a> front, various <a href="https://www.govinfo.gov/content/pkg/CHRG-112shrg75214/pdf/CHRG-112shrg75214.pdf">federal agencies and departments</a> concerned with national security, including the FBI, CIA, and the Departments of State, Homeland Security, and Defense, need more agents and employees who can speak and understand another language. This need was underscored in the wake of the 9/11 attacks, when it surfaced that lack of Arabic linguists led the U.S. to <a href="https://www.nytimes.com/2009/03/19/books/chapters/chapter-unfriendly-fire.html">miss critical messages</a> sent by al–Qaida about the 9/11 attacks a day before they occurred.</p>

        <h2>7. Life is more interesting</h2>

        <p>Think of all the people here in the U.S. (well <a href="https://www.citylab.com/equity/2013/08/geography-americas-many-languages/6438/">over 60 million</a>), around the world (<a href="https://www.britishcouncil.org/research-policy-insight/policy-reports/the-english-effect">75%</a> of the world population), and <a href="https://www.statista.com/statistics/262946/share-of-the-most-common-languages-on-the-internet/">online</a> whom we are able to talk to if we speak their languages.</p>

        <p>[ <em>Deep knowledge, daily.</em> <a href="https://theconversation.com/us/newsletters?utm_source=TCUS&amp;utm_medium=inline-link&amp;utm_campaign=newsletter-text&amp;utm_content=deepknowledge">Sign up for The Conversation’s newsletter</a>. ]</p>
    </div>
</div>
